<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8">
		<link href="<%- config.serverAddress %>/nv.d3.css" rel="stylesheet" type="text/css">

		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700,400' rel='stylesheet' type='text/css'>

		<script>
		var root = "<%- config.serverAddress %>";
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
		<script src="<%- config.serverAddress %>/d3.js"></script>
		<script src="<%- config.serverAddress %>/nv.d3.js"></script>
		<script src="<%- config.serverAddress %>/es5.js"></script>
		<script src="<%- config.serverAddress %>/graph_support/general.js"></script>
		<script src="<%- config.serverAddress %>/graph_support/timeseries.js"></script>

		<style>
			body{
				margin: 0px;
				height: 100%;
				font-family: 'Open Sans', sans-serif;
			}
			#logos{
				position: absolute;
				bottom: 0px;
				right: 0px;
				width: 100%;
				padding: 4px;
				box-sizing: border-box;
				background-color: white;
			}
			#logos img{
				width: 0px;
				height: auto;
				float: left;
			}

			#chart-wrap{
				position: absolute;
				top: 0px;
				left: 0px;
				bottom: 0px;
				right: 250px;
			}
			#sidebar{
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;

				width: 250px;
				box-sizing: border-box;

				border-left: 2px solid black;
			}

			#controls{
				position: absolute;
				top: 0px;
				right: 0px;
				bottom: 0px;

				width: 100%;
				padding: 10px;
				box-sizing: border-box;

				overflow-y: scroll;
			}

			.bounds-holder {
				padding-bottom: 6px;
			}
			.bounds-holder > div{
				width: 33%;
				display: inline-block;
			}
			.bounds-input-holder {
				position: relative;
			}
			.bounds-input-holder span{
				position: absolute;
				cursor: pointer;
				right: 0px;
				top: 50%;
				margin-top: -6px;
				font-size: 14px;
			}

			.bounds-input-holder input.active + span:before{
				color: black;
				content: "\f023"
			}
			.bounds-input-holder input + span:before{
				color: gray;
				content: "\f09c"
			}

			.bounds-holder > span{
				text-align: center;
				width: 28%;
				display: inline-block;
			}
			.bounds-holder input{
				width: 100%;
			}
			
			.bounds-titles{
				width: 33%;
				text-align: center;
			}

			.bounds-titles.left{ float: left; }
			.bounds-titles.right{ float: right; }

			.pointer{
				cursor: pointer;
			}

			#series label{
				display: inline-block;
				margin: 2px;
				padding: 5px;
				font-size: 13px;
			}

			.seriesGroup{
				font-size: 14px;
				margin: 0px -10px;
				padding: 1px 10px;
			}

			#series label span{
				width: 8px;
				height: 8px;
				display: inline-block;
				border: 2px solid;
				border-radius: 50%;
				position: relative;
				top: 2px;
			}

			#series input[type="checkbox"]:not(:checked) + label span{
				background-color: white !important;
			}
			#series input[type="checkbox"]{
				display: none;
			}

			#series > div:nth-child(odd)		{ background-color:#eee; }
			#series > div:nth-child(even)		{ background-color:#fff; }

			.toggle-meta-information{
				cursor: pointer;
			}
			.meta-information{
				display: none;
			}

			h2{
				margin-bottom: 2px;
			}
			h4{
				margin-bottom: 2px;
				margin-top: 10px;
			}

			.clearfix:before,
			.clearfix:after {
			    content: " ";
			    display: table;
			}

			.clearfix:after {
			    clear: both;
			}

			.backdrop{
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				background-color: rgba( 0, 0, 0, 0.5 );
				display: none;
			}
			.download-outer-wrap{
				display: table;
				height: 100%;
				width: 100%;
			}
			.download-inner-wrap{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}
			#download-content{
				background-color: #B1A7BC;
				display: inline-block;
				padding: 10px;
				border-radius: 3px;
				width: 214px;
			}

			#download-content h3{
				margin-top: 3px;
			}

			#download-content td{
				width: 50%;
				text-align: left;
			}

			#download-content button{
				width: 90%;
				border-radius: 5px;
				border: none;
				padding: 5px;
				background-color: ivory;
				font-size: 16px;
				margin: 6px;
				cursor: pointer;
			}
			#download-content button:hover{
				box-shadow: inset 0px 2px 14px -7px rgba(0,0,0,0.75);
			}

			.align-right{
				text-align: right;
			}

			.fa-close{
				cursor: pointer;
			}
		</style>
		<script>

			var container = '#chart';
			var containerId = 'chart';

         // These are populated from Node
         var plotId = <%- plotId %>;

		</script>
		<script id="series-template" type="text/x-handlebars-template">
			{{#each groups}}
				<div class="seriesGroup">
					<h4>
						{{groupLabel}}
						{{#if meta}}
							<span data-key="{{groupKey}}" class="js-toggle-meta-information toggle-meta-information fa fa-info-circle"></span>
						{{/if}}
					</h4>
					<div data-key="{{groupKey}}" class="js-meta-information meta-information">{{#if meta}}{{{meta}}}{{/if}}</div>
			  		{{#each series}}

			  			<input type="checkbox" name="selected_series[]" {{#unless disabled}}checked{{/unless}} value="{{key}}" id="{{key}}" />
			  			<label class="pointer" for="{{key}}">
			  				<span style="background-color: {{color}}; border-color: {{color}};"></span>
			  				{{groupLabel}}
			  			</label>
			  		{{/each}}
			  	</div>
			{{/each}}
			{{#each series}}

	  			<input type="checkbox" name="selected_series[]" {{#unless disabled}}checked{{/unless}} value="{{key}}"  id="{{key}}" />
	  			<label class="pointer" for="{{key}}">
			  			<span style="background-color: {{color}}; border-color: {{color}};"></span>
	  				{{label}}
						{{#if meta}}
							<span data-key="{{key}}" class="js-toggle-meta-information toggle-meta-information fa fa-info-circle"></span>
						{{/if}}
	  			</label>
				<div data-key="{{key}}" class="js-meta-information meta-information">{{#if meta}}{{meta}}{{/if}}</div>
  			{{/each}}
		</script>
	</head>
	<body>
		<div id="chart-wrap">
			<svg id="chart" xmlns="http://www.w3.org/2000/svg" ></svg>
		</div>
		<div id="sidebar">
			<div id="controls">
				<div>
					<h2>Y-Axis</h2>
					<div class="clearfix">
						<h4 class="bounds-titles left">Left</h4>
						<h4 class="bounds-titles right">Right</h4>
					</div>
					<div class="bounds-holder">
						<div class="bounds-input-holder">
							<input type="text" id="left-y-max">
							<span class="fa fa-unlock"></span>
						</div>
						<span>MAX</span>
						<div class="bounds-input-holder">
							<input type="text" id="right-y-max">
							<span class="fa fa-unlock"></span>
						</div>
					</div>
					<div class="bounds-holder">
						<div class="bounds-input-holder">
							<input type="text" id="left-y-min">
							<span class="fa fa-unlock"></span>
						</div>
						<span>MIN</span>
						<div class="bounds-input-holder">
							<input type="text" id="right-y-min">
							<span class="fa fa-unlock"></span>
						</div>
					</div>
				</div>

				<div>
					<h2>Data Series</h2>
					<div id="series"></div>
				</div>
				<div>
					<label class="pointer">
						<input type="checkbox" id="dont-join-data-gaps" />
						Do not join gaps
					</label>
				</div>

				<div>
					<button onclick="graphController.downloadPopup();">Download</button>
				</div>
			</div>
			<div id="logos"></div>
		</div>
		<div class="backdrop js-close-download-popup js-download-popup">
			<div class="download-outer-wrap js-close-download-popup">
				<div class="download-inner-wrap js-close-download-popup">
					<div id="download-content">
						<i class="fa fa-close pull-right js-close-download-popup"></i>
						<h3>Select your formats</h3>
						<table>
							<tbody>
								<tr>
									<td>
										<label>
											<input type="checkbox" checked name="formats[]" value="png" />
											PNG
										</label>
									</td>
									<td>
										<label>
											<input type="checkbox" checked name="formats[]" value="logos" />
											Logos
										</label>
									</td>
								</tr>
								<tr>
									<td>
										<label>
											<input type="checkbox" checked name="formats[]" value="svg" />
											SVG
										</label>
									</td>
									<td>
										<label>
											<input type="checkbox" checked name="formats[]" value="meta-data" />
											Meta Data
										</label>
									</td>
								</tr>
								<tr>
									<td>
										<label>
											<input type="checkbox" checked name="formats[]" value="csv" />
											CSV
										</label>
									</td>
								</tr>
							</tbody>
						</table>
						<button class="js-close-download-popup js-download">Download</button>
					</div>
				</div>
			</div>
			</div>
	</body>
</html>