<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta charset="utf-8">
		<link href="<%- config.serverAddress %>/nv.d3.css" rel="stylesheet" type="text/css">

		<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='//fonts.googleapis.com/css?family=Open+Sans:400italic,700,400' rel='stylesheet' type='text/css'>
		<link href="<%- config.serverAddress %>/graph_support/general.css" rel='stylesheet' type='text/css'>
		<link href="<%- config.serverAddress %>/tooltipster/tooltipster.css" rel='stylesheet' type='text/css'>

		<script>
		var root = "<%- config.serverAddress %>";
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
		<script src="<%- config.serverAddress %>/d3.js"></script>
		<script src="<%- config.serverAddress %>/nv.d3.js"></script>
		<script src="<%- config.serverAddress %>/es5.js"></script>
		<script src="<%- config.serverAddress %>/graph_support/general.js"></script>
		<script src="<%- config.serverAddress %>/graph_support/timeseries.js"></script>
		<script src="<%- config.serverAddress %>/tooltipster/jquery.tooltipster.min.js"></script>

		<style>
			
		</style>

		<script>

			var container = '#chart';
			var containerId = 'chart';

         // These are populated from Node
         var plotId = <%- plotId %>;

		</script>

		<script id="download-type-template" type="text/x-handlebars-template">
			<div>
				<label>
					<input type="checkbox" name="formats[]" checked value="{{ key }}" >
					{{ label }} 
				</label>
			</div>
		</script>
		<script id="series-template" type="text/x-handlebars-template">
			{{#each groups}}
				<div class="seriesGroup">
					<h4>
						{{groupLabel}}
					</h4>
			  		{{#each series}}
			  			<input type="checkbox" name="selected_series[]" {{#unless disabled}}checked{{/unless}} value="{{key}}" id="{{key}}" />
			  			<label class="pointer" for="{{key}}">
			  				<span style="background-color: {{color}}; border-color: {{color}};"></span>
			  				{{groupLabel}}
			  			</label>
			  		{{/each}}
					<div data-key="{{groupKey}}" class="js-meta-information meta-information">{{#if meta}}{{{meta}}}{{/if}}</div>
					{{#if meta}}
						<span data-key="{{groupKey}}" class="js-toggle-meta-information  more-information-text">More Information</span>
					{{/if}}
			  	</div>
			{{/each}}
			{{#each series}}

	  			<input type="checkbox" name="selected_series[]" {{#unless disabled}}checked{{/unless}} value="{{key}}"  id="{{key}}" />
	  			<label class="pointer" for="{{key}}">
			  		<span style="background-color: {{color}}; border-color: {{color}};"></span>
	  				{{label}}
	  			</label>
				<div data-key="{{key}}" class="js-meta-information meta-information">{{#if meta}}{{meta}}{{/if}}</div>
				{{#if meta}}
					<span data-key="{{groupKey}}" class="js-toggle-meta-information more-information-text">More Information</span>
				{{/if}}
  			{{/each}}
		</script>
	</head>
	<body>
		<div id="chart-wrap">
			<svg id="chart" xmlns="http://www.w3.org/2000/svg" ></svg>
		</div>
		<div id="sidebar">
			<div id="controls">
				<div>
					<h2>Y-Axis</h2>
					<div class="clearfix">
						<h4 class="bounds-titles left">Left</h4>
						<h4 class="bounds-titles right">Right</h4>
					</div>
					<div class="bounds-holder">
						<div class="bounds-input-holder">
							<input type="text" id="left-y-max">
							<span class="fa fa-unlock"></span>
						</div>
						<span>MAX</span>
						<div class="bounds-input-holder">
							<input type="text" id="right-y-max">
							<span class="fa fa-unlock"></span>
						</div>
					</div>
					<div class="bounds-holder">
						<div class="bounds-input-holder">
							<input type="text" id="left-y-min">
							<span class="fa fa-unlock"></span>
						</div>
						<span>MIN</span>
						<div class="bounds-input-holder">
							<input type="text" id="right-y-min">
							<span class="fa fa-unlock"></span>
						</div>
					</div>
				</div>

				<div>
					<h2>Data Series</h2>
					<div id="series"></div>
				</div>
				<div>
					<div>
						<label class="pointer">
							<input type="checkbox" id="join-data-gaps" />
							Join gaps <i class="fa fa-info-circle tooltip" title="Join gaps in the graph where there isnt any data"></i>
						</label>
					</div>
					<div>
						<label class="pointer">
							<input type="checkbox" id="show-std-area" />
							Show error bars <i class="fa fa-info-circle tooltip" title="Show the Standard Disvation around the mean."></i>
						</label>
					</div>
				</div>

				<div>
					<button onclick="graphController.downloadPopup();" class="trigger-download-button">Save & Download</button>
				</div>
			</div>
			<div id="logos"></div>
		</div>
		
		<div class="backdrop js-close-download-popup js-download-popup">
			<div class="download-outer-wrap js-close-download-popup">
				<div class="download-inner-wrap js-close-download-popup">
					<div id="download-content">
						<i class="fa fa-close pull-right js-close-download-popup"></i>
						<h3>Select your formats</h3>
						<div id="download-formats"></div>
						<button class="js-close-download-popup js-download">Download</button>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
